<div class="container">
    <div class="login-form">
        <p class="text-center black main-text">Отслеживание в другом вузе</p>
        <br>
        <div class="form-group row">
            <!--<label for="inputLogin" class="col-xs-offset-1 col-xs-2 col-form-label topPosition">ТЕЛЕФОН ИЛИ EMAIL</label>-->
            <div class="col-xs-12">
                <input type="login" ng-model="loginUser.fullName" class="form-control"  id="inputLogin" placeholder="ФИО">
            </div>
            <div class="col-xs-12">
                <input type="year" ng-model="loginUser.year" class="form-control"  id="inputYear" placeholder="Год">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12 marginTop10">
                <button type="submit" class="btn btn-primary" ng-click="searchAbiturient()">Найти</button>
            </div>

        </div>
        <div ng-if="abiturientInfo">
            <p  >
            <p>Абитуриент {{abiturientInfo[0].userFullName}} </p>
            <p>  найден в рейтинговых списках вуза: {{abiturientInfo[0].universityName}} </p>
            <p> {{abiturientInfo[0].informationAboutReceipt}} </p>

            </p>
        </div>
    </div>
</div>

