<div class="container">
    <div class="login-form">
        <p class="text-center black main-text">Создание аккаунта</p>
        <br>
        <div class="form-group row">
            <div class="col-xs-12">
                <input type="firstName" ng-model="newUser.firstName" class="form-control"  id="firstName" placeholder="Фамилия">
            </div>
            <div class="col-xs-12 marginTop5">
                <input type="lastName" ng-model="newUser.lastName" class="form-control"  id="lastName" placeholder="Имя">
            </div>
            <div class="col-xs-12 marginTop5">
                <input type="patronymic" ng-model="newUser.patronymic" class="form-control"  id="patronymic" placeholder="Отчество">
            </div>
        </div>
        <hr>
        <div class="form-group row">

            <div class="col-xs-12">
                <input type="login" ng-model="newUser.login" class="form-control"   id="login" placeholder="Email или телефон">
            </div>
            <div class="col-xs-12 marginTop5">
                <input type="password" ng-model="newUser.password" class="form-control"   id="password" placeholder="Пароль">
            </div>
            <div class="col-xs-12 marginTop5">
                <input type="password" ng-model="newUser.passwordReply" class="form-control"   id="passwordReply" placeholder="Подтверждение пароля">
            </div>
        </div>
        <hr>
        <div class="form-group row ">
            <div class="col-xs-12 ">
                <input type="controlQuestion" ng-model="newUser.controlQuestion" class="form-control"   id="controlQuestion" placeholder="Контрольный вопрос">
            </div>
            <div class="col-xs-12 marginTop5 ">
                <input type="controlAnswer" ng-model="newUser.controlAnswer" class="form-control"   id="controlAnswer" placeholder="Ответ">
            </div>
            <div class="col-xs-12 marginTop10">
                <button type="submit" class="btn btn-primary" ng-click="continueRegistration()">Продолжить</button>
            </div>
        </div>

    </div>
</div>

