<div class="container">
    <div class="login-form">
        <p class="text-center black main-text">Вспомнить пароль</p>
        <br>
        <div class="form-group row marginBottom10">
            <div class="col-xs-12">
                <input type="login" ng-model="rememberUser.login" class="form-control"  id="inputLogin" placeholder="Телефон или Email">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary" ng-click="remember()">Продолжить</button>
            </div>
        </div>

    </div>
</div>

