<div class="container">
    <div class="page-header">
        <h3 class="itemTitle">Приемная комиссия</h3></div>
    <div class="itemNaviTop">
        <dl class="article-info">
            <dd class="item-caption">
            </dd>
        </dl>
    </div>


    <div class="row">
        <div class="col-xs-6 col-md-12">
            <table border="0" width="879" cellspacing="1" cellpadding="1" align="center">
                <tbody>
                <tr>
                    <td class="text-center"><img style="margin: 5px;" src="https://ksu.edu.ru/images/PRIEMNAY_KOMISSIYA/rudnickaya-tyu.jpg" width="150" height="200"></td>
                    <td class="text-center"><img style="margin: 5px;" src="https://ksu.edu.ru/images/PRIEMNAY_KOMISSIYA/Buslova_EV.jpg" width="176"></td>
                <tr>
                    <td class="text-center"><span >Рудницкая Татьяна Юрьевна – ответственный секретарь Приемной комиссии.</span></td>
                    <td class="text-center"><span >Буслова Елена Викторовна – заместитель ответственного секретаря Приемной комиссии.</span></td>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12">
            <p ><span ><strong>Часы работы:</strong></span><br> <span ><strong>будни:</strong> с 9.00 до 15.30 </span><br> <span ><strong>суббота:</strong> с 9.00 до 12.00</span><br> &nbsp;</p>
            <p ><span ><strong>Адрес:</strong> 156005, г. Кострома, ул. Дзержинского, 17, каб. 114</span><br> &nbsp;</p>
            <p ><span ><strong>Телефон:</strong> (4942) 49-80-44</span><br> &nbsp;</p>
            <p ><span ><strong>E-mail:</strong> <span id="cloak6c296a293945e4ace291dc4829cae5f9"><a href="mailto:priem@ksu.edu.ru">priem@ksu.edu.ru</a></span></span></p>
            <p ><span>&nbsp;</span></p>
            <p ><span ><strong>&nbsp;ФУНКЦИИ ПРИЕМНОЙ КОМИССИИ</strong></span></p>
            <p><span >Основной задачей приёмной комиссии является обеспечение набора граждан для обучения в КГУ.</span></p>
            <p ><span><strong><span>НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ</span></strong></span></p>
            <p><span>Разработка и утверждение Правил приема в КГУ;</span></p>
            <p><span>Профориентационная работа;</span></p>
            <p><span>Организация информирования абитуриентов;</span></p>
            <p><span>Организация приёма документов от абитуриентов;</span></p>
            <p><span>Подготовка и проведение вступительных испытаний;</span></p>
            <p><span>Подготовка личных дел для передачи в отдел кадров, деканаты, архив.</span></p>
            <p><span><strong>ШТАТ ПРИЕМНОЙ КОМИССИИ:</strong></span></p>
            <p><span>Рудницкая Татьяна Юрьевна&nbsp;– ответственный секретарь Приемной комиссии.</span></p>
            <p><span>Буслова Елена Викторовна – заместитель ответственного секретаря Приемной комиссии.</span></p>
            <br>
            <p><span >Максимова Маргарита Львовна – ведущий документовед.</span></p>
            <p><span >Клименкова Алёна Игоревна – специалист по учебно-методической работе.</span><br> &nbsp;</p>
        </div>
    </div>
</div>