
body {
    padding-top: 90px;
    font-family: "Montserrat Regular" !important;
}

@font-face {
    font-family: Montserrat Regular; /* шрифт  */
    src: url('font/Montserrat Regular.ttf');
}

.navbar-nav{ /*Цвет кнопок nav бара*/
    background:  #1e4a91;
}

.nav > li{
    padding: 0 30px;
}

nav {/*Цвет шапки*/
    background: #1e4a91 !important;
}
.nav { /*отсутп преед логотипом*/
    margin-left: 25px;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    height: 15px;
    width: 15px;
    border: 1px solid gray;
}

input[type="checkbox"]:checked {
    background: white;
}

input[type="checkbox"]:hover {
    filter: brightness(90%);
}

input[type="checkbox"]:disabled {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

input[type="checkbox"]:after {
    content: '';
    position: relative;
    left: 33%;
    top: 5%;
    width: 35%;
    height: 70%;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}

input[type="checkbox"]:disabled:after {
    border-color: #7b7b7b;
}

.btn-primary{
    border-color:unset;
    background-color:#469eff !important;
}

.btn-primary{
    border-color:unset;
    background-color:#469eff !important;
}

.main-text{
    font-size: 25px;
}

.secound-text{
    font-size: 15px;
}

.marginBottom10{
    margin-bottom: 10px;
}










.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a{
    color:white; !important;
}

.navbar-collapse {
    margin-top: 14px;
}

.navbar .dropdown-toggle {
    padding-bottom: 20px;
}

.navbar-brand {
    display: none;
}

.navbar-nav-new-year {
    margin: 0 0 0 150px;
}


@media (min-width: 1200px)
{
    .container { width: 1400px !important; }
}

@media (min-width: 1200px) {
    .my-custom-container{
        width:95% !important;
    }}
[ng\:cloak],[ng-cloak], .ng-cloak{
    display: none;
}
.selectize-dropdown-content:hover {
    max-height: 200.1px;
}
.wordBreak{
    word-break: break-word;
}

.google-visualization-tooltip { pointer-events:none; }
body{
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.display-inline{
    display: inline;
}

.floatRight{
    float: right;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.matrixReportWidth {
    width: 14%;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.disabled {
    pointer-events:none;
    opacity:0.6;
}

.zeroOpacityDisabled {
    pointer-events:none;
}

/*.dropdown-menu-navbar li:hover .sub-menu {*/
/*visibility: visible;*/
/*}*/

/*.dropdown:hover .dropdown-menu-navbar {*/
/*display: block;*/
/*}*/



.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
label{
    color: #989898;
    font-variant: normal;
    font-weight: normal;
}
.help-block{
    color: #989898;
}

.label-st {
    color: #989898;
}

.badge-color{
    background-color: #0077b3;
    opacity: 0.8;
}
.blue-text-color{
    color: #0077b3;
}
.thead-active-off{
    color: slategray;
}

li.borderless {
    border-left-style: none;
    border-right-style: none;
}

p{
    color: #989898;
}
H5{
    color: #989898;
}
H4{
    color: #0077b3;
    text-transform: uppercase;
}
H6{
    color: #696969;
    font-size: 12pt;
}
H7{
    color: #0077b3;
    font-size: 12pt;
}
H8{
    color: slategray;
    font-size: 16pt;
}

H10{
    color: slategray;
    font-size: 24pt;
}

H11{
    color: #3A3A3A;
    font-size: 16pt;
}

ol{
    color: #0066AA;
}
.form-control{
    width: 400px;
    inline-box-align: inherit;
}
.employeeUiSelect{
    width: 250px !important;
}

.form-control12{
    inline-box-align: inherit;
}

.form-control-big{
    width: 800px;
    height: 80px;
    inline-box-align: inherit;
}
.xPosition{
    margin-top: -25px;
    margin-right: 10px;
}
.form-control-big2{
    width: 100%;
    inline-box-align: inherit;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.selectBox{border-radius:4px;border:1px solid #AAAAAA;}
.selectClass {
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.footer{
    color: #989898;
}
.text-muted{
    color: #989898;
}
input{
    color: #0077b3 ;
    background: white;
    font-size: larger;
    border: none;
}
.ng-invalids-background{
    /*background: red;*/
    /*opacity:0.1;*/
    /*background: transparent;*/
    background-color: rgba(255, 0, 0, .1);
}

.error-border {
    border-color : #ff0000 !important;
}

.ng-invalids-background-2 {
    /*background-color: rgba(255, 0, 0, 0.2);*/
    /*border-right: 2px solid rgba(255, 0, 0, 0.5) !important;*/
    /*border-left: 2px solid rgba(255, 0, 0, 0.5) !important;*/
    /*border-bottom: 2px solid rgba(255, 0, 0, 0.5) !important;*/
    /*border-top: 2px solid rgba(255, 0, 0, 0.5) !important;*/

    border:2px solid rgba(255, 0, 0, 0.5) !important;
}

.middle-th {
    vertical-align: middle !important;
}

.ng-invalids{
    border: 1px solid red !important;
    border-right: 1px solid red !important;
    border-left: 1px solid red !important;
    border-bottom: 1px solid red !important;
    border-top: 1px solid red !important;
}
.ng-invalids2{
    border: 1px solid #ac2925 !important;
    border-radius: 10px 0 0 10px;
}
.ng-invalids3{
    border: 1px solid #ac2925 !important;
}
.ng-invalids4{
    border: 1px solid #ac2925 !important;
    border-radius: 0 10px 10px 0;
}
.ng-invalids5{
    border: 1px solid #ac2925 !important;
}
.ng-invalids6{
    border: 1px solid #ac2925 !important;
    border-radius: 10px !important;
}

.absence{
    background-color: rgba(80, 0, 200, 0.02)!important;
    /*color: #c94a4a !important;*/
}

.margin_right_one{
    margin: 0 1px 0 0;
}

.workRough{
    /*background-color: #B0C4DE!important;*/
    background-color: rgba(176, 196, 222, 0.2)!important;

}
.dismissed1{
    /*background-color: #B94A48;*/
    /*background-color: rgba(250, 1, 1, 0.1)!important;*/
    text-decoration: line-through;
    color: #B94A48
    /*opacity:0.2;*/
}

/*tr.dismissed td:before {*/
/*content: " ";                              !* …has no text content            *!*/
/*position: absolute;                        !* …is absolutely positioned       *!*/
/*left: 0; top: 40%; width: 100%;            !* …with the top across the middle *!*/
/*border-bottom: 1px solid #B94A48;*/
/*}*/
/*tr.dismissed td {*/
/*position: relative;*/
/*}*/

.dismissed p {
    color: #B94A48;
}

.dismissedEmployee {
    olor: #B94A48;
    text-decoration: underline;
}


.endGuaranteeProject{
    /*background-color: rgba(176, 182, 212, 100)!important;*/
    /*color: rgba(176, 182, 212, 100)!important;*/
    color: #B94A48
}
.examDelay{
    background-color: rgba(200, 200, 200, 0.3) !important;
}
.absenceColor{
    background-color: rgba(0, 50, 250, 0.08)!important;
    text-align: center;
}
option[value="true"]{
    /*color: royalblue;*/
    color: #080808;
    font-weight: 600;
}
option.select-hr { border-bottom: 1px dotted #000; }
.asposeFont{
    color: #080808;
    font-weight: 600;
}
.asposeColor{
    color: #080808;
}
.buttonWidth{
    width: 50px;
}
.width70{
    width: 60%;
}
.width75{
    width: 75%;
}
.width30{
    width: 30%;
}
.fireColor{
    /*background-color: #B0C4DE!important;*/
    background-color: rgba(176, 196, 222, 0.8)!important;
    text-align: center;
}
.grayColor{
    background-color: #c5c5c5!important;
    text-align: center;
}
.yellowColor{
    background-color: #fff9c4!important;
    text-align: center;
}
.greenColor{
    background-color: #c8e6c9!important;
    text-align: center;
}
.redColor{
    background-color: #ffcdd2!important;
    text-align: center;
}

.dangerWeekend{
    background-color: #c3c3c3!important;
    text-align: center;
}

.dangerZeroTime{
    background-color: #fdf5ce!important;
    text-align: center;
}

.dangerColor{
    color: #CC0000;
}

.autorizationForm{
    width: 100%;
}

.competenceColorGray{
    background-color: #FFFAFA!important;
    text-align: center;
}

.competenceColorRed{
    background-color: #FFE4E1!important;
    text-align: center;
}

.topPosition {
    margin-top: 6px;
}

.pclip {
    white-space: nowrap; /* Запрещаем перенос строк */
    width: 200px;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.pclip100 {
    white-space: nowrap; /* Запрещаем перенос строк */
    /*max-width: 1000px;*/
    width: 100px;
    max-width: 200px;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.hackyhack {
    position: relative;
}
.hackyhack .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.competenceColorYellow{
    background-color: #FFFFE0!important;
    text-align: center;
}

.competenceColorGreen{
    background-color: #ADD8E6!important;
    text-align: center;
}
.black{
    color: #112233;
    font-weight: bold;
}

.blue-style{
    color: #0077b3 ;
    font-size: larger;
    text-align: left;
}
.input-style, .input-style:hover, .input-style:visited, .input-style:active, .input-style:link{
    color: #0077b3 ;
    font-size: larger;
    text-align: left;
    text-decoration: none;
}

.input-style-description{
    color: #0077b3 ;
    /*background: white;*/
    font-size: 14px !important;
    text-align: left;
    text-decoration: none;
}

.matrix-report-text{
    color: slategray !important;
    font-size: 14px !important;
    text-align: center;
    padding: 1px;
}

.input-style-bold{
    color: #0077b3 ;
    /*background: white;*/
    /*font-size: larger;*/
    font-weight: 600;
    text-align: left;
    text-decoration: none;
}
.input-style-bold3{
    font-weight: 600;
    text-align: left;
    text-decoration: none;
}
.input-style-bold2{
    color: #0077b3 ;
    font-weight: bold;
    font-size: larger;
    text-align: left;
    text-decoration: none;
}
.input-style-danger{
    color: #ac2925 ;
    font-size: larger;
    text-align: left;
    text-decoration: none;
}

.input-style-center{
    color: #0077b3;
    /*background: white;*/
    font-size: larger;
    text-align: center;
    text-decoration: none;
}

.input-style-center-special{
    color: #d34d17 ;
    /*background: white;*/
    font-size: larger;
    text-align: center;
    text-decoration: none;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 3px;
}

.input-style-black{
    color: #343434 ;
    /*background: white;*/
    font-size: larger;
    text-align: left;
    text-decoration: none;
}
.line-through{
    text-decoration: line-through;
}
.input-style-black-small{
    color: #343434 ;
    font-size: medium;
    text-align: left;
    text-decoration: none;
}
.input-style-black-special{
    color: #343434 ;
    font-weight: 400;
    font-size: medium;
    text-align: left;
    text-decoration: none;
}
.input-style-black-special2{
    color: #343434 ;
    font-size: smaller !important;
    text-align: left;
    text-decoration: none;
}
.input-style-black-bold{
    color: #343434 ;
    /*background: white;*/
    font-weight: 600;
    font-size: larger;
    text-align: left;
    text-decoration: none;
}
.input-style2{
    color: #0077b3 ;
    /*background: white;*/
    font-size: larger;
    text-align: right;
    margin-right: 10%;
    text-decoration: none;
}
.about {
    display:inline-block;
}
.liAudit{
    border-bottom:10px solid #ccc;
}
.input-style12{
    color: #3A3A3A ;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    margin-left: 10px;
}
.input-style4{
    color: #3A3A3A ;
    /*background: white;*/
    font-size: larger;
    /*text-align: left;*/
    /*margin-right: 10%;*/
    text-decoration: none;
}

.input-style11{
    color: #0077b3 ;
    font-size: larger;
    text-decoration: none;
}

.input-style11:hover{
    text-decoration: underline;
    cursor: pointer;
}

._middle label{
    vertical-align: middle;
}

.middle-td{
    vertical-align: middle !important;
}

._middle2{
    vertical-align: bottom !important;
}

._bottom{
    vertical-align: bottom;
}

.border-right {
    border-right: 1px solid #ccc;
    height: 100% !important;
}

.marginLeft15{
    margin-left: 15px;
}
.input-style7{
    color: #3A3A3A ;
    font-size: 14px;
    text-decoration: none;
}

.input-style-worksheet{
    color: #3A3A3A ;
    font-size: 14px;
    text-decoration: none;
}

.input-style9{
    color: #3A3A3A ;
    font-size: 11px;
    text-decoration: none;
}
.input-style10{
    color: #3A3A3A ;
    font-size: 16px;
    text-decoration: none;
}
.input-style14{;
    font-size: 14px;
}

.input-style3{
    color: #3A3A3A ;
    /*background: white;*/
    font-size: 14px;
    text-align: left;
    margin-right: 10%;
    text-decoration: none;
}

.greenRound{
    width:25px;
    height:25px;
    display:inline-block;
    border-radius:12.5px;
    -moz-border-radius:12.5px;
    -webkit-border-radius:12.5px;
    -khtml-border-radius:12.5px;
    font-size:14px; color:#fff;
    line-height:25px;
    text-align:center;
    background:#00A000;
    position: relative;
}

.greenRound2{
    width:34px;
    height:34px;
    display:inline-block;
    border-radius:17px;
    -moz-border-radius:17px;
    -webkit-border-radius:17px;
    -khtml-border-radius:17px;
    font-size:14px; color:#fff;
    line-height:34px;
    text-align:center;
    background:#00A000;
    position: relative;
    opacity: 0.9;
}

.greenRound2:hover, .yellowRound2:hover, .redRound2:hover  {
    opacity: 1;
}

.greenRoundSmall:hover, .yellowRoundSmall:hover, .redRoundSmall:hover,
.greenRoundSmallBlackBorder:hover, .yellowRoundSmallBlackBorder:hover, .redRoundSmallBlackBorder:hover
{
    opacity: 1;
}

.greenRoundSmall{
    width:26px;
    height:26px;
    display:inline-block;
    border-radius:13px;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    -khtml-border-radius:13px;
    font-size:11px; color:#fff;
    line-height:26px;
    text-align:center;
    background:#00A000;
    position: relative;
    opacity: 0.9;
}

.yellowRoundSmall {
    width:26px;
    height:26px;
    display:inline-block;
    border-radius:13px;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    -khtml-border-radius:13px;
    font-size:11px; color:#fff;
    line-height:26px;
    text-align:center;
    background:#ffb73d;
    position: relative;
    opacity: 0.9;
}

.redRoundSmall{
    width:26px;
    height:26px;
    display:inline-block;
    border-radius:13px;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    -khtml-border-radius:13px;
    font-size:11px; color:#fff;
    line-height:26px;
    text-align:center;
    background:#d43f3a;
    position: relative;
    opacity: 0.9;
}

.greenRoundMedium{
    width:32px;
    height:32px;
    display:inline-block;
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    -khtml-border-radius:16px;
    font-size:11px; color:#fff;
    line-height:32px;
    text-align:center;
    background:#00A000;
    position: relative;
    opacity: 0.9;
}

.yellowRoundMedium {
    width:32px;
    height:32px;
    display:inline-block;
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    -khtml-border-radius:16px;
    font-size:11px; color:#fff;
    line-height:32px;
    text-align:center;
    background:#ffb73d;
    position: relative;
    opacity: 0.9;
}

.redRoundMedium{
    width:32px;
    height:32px;
    display:inline-block;
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    -khtml-border-radius:16px;
    font-size:11px; color:#fff;
    line-height:32px;
    text-align:center;
    background:#d43f3a;
    position: relative;
    opacity: 0.9;
}

.greenRoundMediumBlackBorder{
    width:32px;
    height:32px;
    display:inline-block;
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    -khtml-border-radius:16px;
    font-size:11px; color:#fff;
    line-height:28px;
    text-align:center;
    background:#00A000;
    position: relative;
    opacity: 0.9;
    border: 2px solid black !important;
}

.yellowRoundMediumBlackBorder {
    width:32px;
    height:32px;
    display:inline-block;
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    -khtml-border-radius:16px;
    font-size:11px; color:#fff;
    line-height:28px;
    text-align:center;
    background:#ffb73d;
    position: relative;
    opacity: 0.9;
    border: 2px solid black !important;
}

.redRoundMediumBlackBorder{
    width:32px;
    height:32px;
    display:inline-block;
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    -khtml-border-radius:16px;
    font-size:11px; color:#fff;
    line-height:28px;
    text-align:center;
    background:#d43f3a;
    position: relative;
    opacity: 0.9;
    border: 2px solid black !important;
}

.yellowRound{
    width:25px;
    height:25px;
    display:inline-block;
    border-radius:12.5px;
    -moz-border-radius:12.5px;
    -webkit-border-radius:12.5px;
    -khtml-border-radius:12.5px;
    font-size:14px; color:#fff;
    line-height:25px;
    text-align:center;
    background:#ffb73d;
    position: relative;
}

.yellowRound2{
    width:34px;
    height:34px;
    display:inline-block;
    border-radius:17px;
    -moz-border-radius:17px;
    -webkit-border-radius:17px;
    -khtml-border-radius:17px;
    font-size:14px; color:#fff;
    line-height:34px;
    text-align:center;
    background:#ffb73d;
    position: relative;
    opacity: 0.9;
}

.redRound{
    width:25px;
    height:25px;
    display:inline-block;
    border-radius:12.5px;
    -moz-border-radius:12.5px;
    -webkit-border-radius:12.5px;
    -khtml-border-radius:12.5px;
    font-size:14px; color:#fff;
    line-height:25px;
    text-align:center;
    background:#d43f3a;
    position: relative;
}

.redRound2{
    width:34px;
    height:34px;
    display:inline-block;
    border-radius:17px;
    -moz-border-radius:17px;
    -webkit-border-radius:17px;
    -khtml-border-radius:17px;
    font-size:14px; color:#fff;
    line-height:34px;
    text-align:center;
    background:#d43f3a;
    position: relative;
    opacity: 0.9;
}

.bold-font{
    font-size: larger;
    font-weight: 600;
    color: black;
}

.red-font{
    font-size: larger;
    font-weight: 400;
    color: red;
}

.red {
    color: red;
}

.green {
    color: green;
}

.red-bold-font{
    color: red;
    font-size: larger;
    font-weight: 600;
}

.green-font{
    font-size: larger;
    font-weight: 400;
    color: green;
}
.gray-font{
    font-size: larger;
    font-weight: 400;
    color: darkgray !important;
}
.green-bold-font{
    color: green;
    font-size: larger;
    font-weight: 600;
}
.yellow-font{
    font-size: larger;
    font-weight: 400;
    color: darkorange;
}
.input-style5{
    font-size: small;
    /*text-decoration: none;*/
}
.input-style5-black{
    font-size: small;
    color: black;
}
.input-style5-black-bold{
    font-size: medium;
    color: black;
}
.input-style5-small{
    font-size: smaller;
    /*text-decoration: none;*/
}
.input-style8{
    font-size: smaller;
    /*text-decoration: none;*/
}
.input-style6{
    color: #0077b3 ;
    font-size: 11pt;
}
.text-style{
    color: slategray;
    /*background: white;*/
    font-size: larger;
    text-align: left;
    text-decoration: none;
}
.asposeParent{
    color: #00ee00;
}
.asposeNotParent{
    color: red;
}
.input-style-right{
    color: #0077b3 ;
    /*background: white;*/
    font-size: larger;
    text-align: right;
    text-decoration: none;
}
.input-style3-right{
    color: #3A3A3A ;
    /*background: white;*/
    font-size: larger;
    text-align: right;
    text-decoration: none;
}
.text-center{
    text-align: center!important;
}
.text-right{
    text-align: right!important;
}
.fs_medium{
    font-size: medium;
}
.causale, .causale:link, .causale:active, .causale:visited, .causale:hover{
    color: #898989;
}

.bold {
    font-weight: bold;
}

.glyphicon-info-small {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.btn-width-small {
    width: 50px;
}

.myClose {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.myClose:hover,
.myClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
.myClose {
    position: relative;
    top: -2px;
    color: inherit;
}
.myClose {
    margin-top: -2px;
}
button.myClose {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}



.myClose2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.myGlyphiconBtn1:hover,
.myGlyphiconBtn1:focus,
.myClose2:hover,
.myClose2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
.myGlyphiconBtn1,
.myClose2 {
    position: relative;
    top: 2px;
    color: inherit;
}
button.myGlyphiconBtn1,
button.myClose2 {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.myClose3 {
    top: -2px;
    color: #7d7d7d;

}

.myClose4{
    position: relative;
    top: 2px;
    color: inherit;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.myGlyphiconBtn1 {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    margin-top: 5px;
}

.vcenter * {
    vertical-align: middle;
    display: inline-block;
}


.increase-popover-width {
    max-width: 600px;
}
.textarea-absence{
    color: #0077b3 ;
    background-color: rgba(0, 200, 0, 0)!important;
    border: none;
    font-size: small;
}
.textarea{
    color: #0077b3 ;
    background: white;
    border: none;
    font-size: small;
}
.input-select{
    width: 80%;
    height: auto;
}
.slategrayColor{
    color: slategray;
}

.red-arrow {
    color: red;
    font-size: 20px;
}

.red-arrow-div {
    display: inline-block;
    width: 25px;
    margin-top: -5px !important;
}

.empl_depts {
    position: relative;
    min-width: 600px;
}

.empl_depts_lbl {
    width: 70px;
    display: block;
    float: left;
    position: relative;
}

.empl_depts_list {
    margin-left: 70px;
}

.marginRight5{
    margin-right: 5px;
}
.backMarginLeft{
    margin-left: -15px;
}
.backMarginLeft10 {
    margin-left: -10px;
}
.backMarginLeft5 {
    margin-left: -5px;
}
.margiRight15{
    margin-right: -15px;
}
.margiRight0, .pagination_row{
    margin-right: 0px !important;
}
.audit-success {
    background-color: #ccf4b4;
}
.audit-danger {
    background-color: #fcccbc;
}

.resource-planning-employees-table {
    margin-left: -30px;
}

.auditingButton{
    margin-right: 8px;
    margin-top: 2px;
}
.file_upload input[type=file]{
    width: 100%;
}
.auto-width{
    width: auto;
}
.auto-height{
    height: auto;
}
.control-width{
    /*width: 300px;*/
    word-break: break-all;
}
.td-tbody{
    text-align: left !important;
    vertical-align: top !important;
}
.competention{
    position:relative;
    left: 20pt;
    top: 5pt;
}
.project-line{
    border-color: slategray;
    opacity: 0.5;
    border-width: 0.2em;
}
.helperStyle1{
    margin-top: 10px;
}
.helperStyle2{
    color: firebrick;
    font-size: 18px;
}
.project-title, .project-title:visited{
    color: slategray;
    /*font-weight: bolder;*/
    background: transparent;
    font-size: larger;
    border: none;
    outline: none;
    text-align: left;
}
.htitle{
    color: slategray;
    /*font-weight: bolder;*/
    background: transparent;
    font-size: larger;
    border: none;
    outline: none;
    text-align: left;
    margin-top: -2px;
    margin-left: -6px;
}
.employeeExamDelay{
    background-color: rgba(200, 200, 200, 0.0) !important;
    font-size: larger;
    text-align: left;
    border: none;
    outline: none;
}
.projectTitle2 {
    color: slategray;
    font-size: larger;
    border: none;
    outline: none;
    text-align: left;
}
.projectTitleGray, .projectTitleGray:visited{
    color: slategray;
    background: #EEEEEE;
    font-size: larger;
    border: none;
    outline: none;
    text-align: left;
}

.projectTitleBlue, .projectTitleBlue:visited{
    color: slategray;
    background: #e3f2fd;
    font-size: larger;
    border: none;
    outline: none;
    text-align: left;
}

.projectTitleGreenStatic {
    color: slategray;
    background: #e8f5e9;
    font-size: larger;
    border: none;
    outline: none;
    text-align: left;
}

.projectTitleGreen, .projectTitleBlue:visited{
    color: slategray;
    background: #e8f5e9;
    font-size: larger;
    border: none;
    outline: none;
    text-align: left;
}
.liBackgroungGray {
    background-color: #eeeeee;
}
.liBackgroungBlue {
    background-color: #e3f2fd;
}
.liBackgroungGreen {
    background-color: #e8f5e9;
}
.projectTitleGray:link, .projectTitleBlue:link, .projectTitleGreen:link, .projectTitleGray:active,
.projectTitleBlue:active, .projectTitleGreen:active, .projectTitleGray:hover, .projectTitleBlue:hover,
.projectTitleGreen:hover{
    font-weight: bolder;
    color: #B94A48;
}
.projectTitleGray-on, .projectTitleBlue-on, .projectTitleGreen-on {
    font-weight: bolder;
    color: #B94A48;
}
.employee-title{
    color: slategray;
    /*font-weight: bolder;*/
    font-size: larger;
    border: none;
    outline: none;
    text-align: left;
}

.H6HeaderStyle{
    margin-left: 10px;
    font-weight: bold;
}
.width2{
    width: 2%;
}
.width3{
    width: 3%;
}
.width4{
    width: 4%;
}
.width5{
    width: 5%;
}
.width6{
    width: 6%;
}
.width7{
    width: 7%;
}
.width8{
    width: 8%;
}
.width10{
    width: 10%;
}
.width11{
    width: 11%;
}
.width12{
    width: 12%;
}
.width13{
    width: 13%;
}
.width15{
    width: 15%;
}
.width18{
    width: 18%;
}
.width19{
    width: 19%;
}
.width20{
    width: 20%;
}
.width22{
    width: 22%;
}
.width24{
    width: 24%;
}
.width25{
    width: 25%;
}
.width26{
    width: 26%;
}
.width27{
    width: 27%;
}
.width30{
    width: 30%;
}
.width32{
    width: 32%;
}
.width35{
    width: 35%;
}
.width36{
    width: 36%;
}
.width37{
    width: 37%;
}
.width38{
    width: 38%;
}
.width40{
    width: 40%;
}
.width42{
    width: 42%;
}
.width45{
    width: 45%;
}
.width48{
    width: 48%;
}
.width50{
    width: 50% !important;
}
.width52{
    width: 52%;
}
.width60{
    width: 60%;
}
.width62{
    width: 62%;
}
.width65{
    width: 65%;
}
.width66{
    width: 66%;
}
.width71{
    width: 71%;
}
.width72{
    width: 72%;
}
.userReportTime{
    width: 72% !important;
}
.projectNewTime{
    width: 75% !important;
}
.width80{
    width: 80% !important;
}
.width90{
    width: 90% !important;
}
.width95{
    width: 95%;
}
.width97{
    width: 97%;
}
.width100{
    width: 100% !important;
}
.form-padding {
    padding-top: 15px !important;
    padding: 10px;
}
.form-padding-sm {
    padding-top: 10px !important;
    padding: 10px;
}
.form-padding-left-sm {
    padding-top: 10px !important;
    padding-left: 10px;
    padding-bottom: 5px;
}
.minWidth100{
    min-width: 100% !important;
}
.max-width{
    width: 100% !important;
}
.width250{
    width: 250px !important;
}
.width400{
    width: 400px !important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


.word_hyphens{
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.myPanel {
    border-color: #ddd;
}

#sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}
#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
}

#sortableFirst, #sortableSecond {
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}
#sortableFirst li, #sortableSecond li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
}

.mentorReviewLiHeight{
    height: 140px !important;
}

.project-title:link, .project-title:active, .project-title:hover, .employeeExamDelay:hover{
    /*font-weight: bolder;*/
    -moz-user-select: text;
    color: #B94A48;
}
.project-title-on {
    /*font-weight: bolder;*/
    -moz-user-select: text;
    color: #B94A48;
}

.project-title-ind {
    font-size: larger;
    color: slategray;
    margin-top: 15px;
}

.user-profile-block {
    margin: 0;
    border: 0;
    display: inline-block;
}
.user-profile-photo-block {
    width: 220px;
}
.user-profile-info-block {
    padding-left: 5px;
    float: right;
    width: calc(100% - 230px);
}
.rightPosition{
    float: right;
}

.project-title-ind-comp {
    font-size: larger;
    color: slategray;
}

.projectAuditingLabel, .projectAuditingLabel:visited {
    cursor: pointer;
    opacity: 0.9;
}

.projectAuditingLabel:link, .projectAuditingLabel:active, .projectAuditingLabel:hover  {
    cursor: pointer;
    opacity: 1;

    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.auditFilters {
    margin-top: 10px;
    /*margin-left: 5px;*/
}

.col-label {
    position:relative;
    min-height:1px;
}

.col-label-max {
    width: 200px !important;
}

.editProject {
    margin-top: 10px;
    margin-left: 10px;
}
.redStar {
    color: firebrick;
    font-size: 18px;
}
.project-title-danger, .project-title-danger:visited{
    color: #B94A48;
    background: transparent;
    font-size: larger;
    border: none;
    outline: none;
    text-align: left;
    text-decoration: underline;
    margin-top: -2px;
    margin-left: -6px;
}
.project-title-danger:link, .project-title-danger:active, .project-title-danger:hover{
    font-weight: bolder;
    -moz-user-select: text;
}

.employeeInfo-title, .employeeInfo-title:visited{
    color: #0077b3;
    background: transparent;
    font-size: larger;
    border: none;
    outline: none;
    text-align: left;
    text-decoration: underline;
    margin-top: -2px;
    margin-left: -6px;
}
.employeeInfo-title:link, .employeeInfo-title:active, .employeeInfo-title:hover{
    font-weight: bolder;
    -moz-user-select: text;
}

.project-title-danger:link, .project-title-danger:active, .project-title-danger:hover{
    font-weight: bolder;
    -moz-user-select: text;
}

.project-title-project, .project-title-project:visited{
    color: slategray;
    /*font-weight: bolder;*/
    background: transparent;
    font-size: larger;
    border: none;
    outline: none;
    text-align: left;
    -moz-user-select: text;
}
.project-title-project:link, .project-title-project:active, .project-title-project:hover{
    color: #B94A48;
    -moz-user-select: text;
}
.help-warning{
    color: #B94A48;
    font-weight: bold;
}
.client-title, .client-title:visited, .client-title:link, .client-title:active{
    color: slategray;
    background: white;
    font-size: larger;
    /*border: none;*/
    /*outline: none;*/
    /*text-transform: uppercase;*/
}
.project-height{
    /*overflow-y: auto;*/
    /*display: table-row;*/
    /*width: 100%;*/
    height: 750px;
}
.project-height-off{
    display: table;
    width: 100% !important;
}
.status-title{
    width: 98%;
    color: black;
}
.status-window{
    width: 100%;
    /*margin-left: 10px;*/
}
.status-header{
    color: #343434;
    font-size: 14px;
    /*margin-left: 10px;*/
}
.table-thead{
    color: #343434;
}
/*.style-autofocus{*/
/*tab-index: 0;*/
/*border: red;*/
/*}*/
.MyTab {text-indent: 1em;}
.container-project{width: 50%}
.container-workTypes{width: 20%}
.container-roles{width: 90%}
h2{
    color: #0066AA;
}





.simple-little-table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;
    border-collapse:separate;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

.simple-little-table th {
    font-weight:bold;
    padding:5px 15px 5px 15px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.simple-little-table th:first-child{
    text-align: left;
    padding-left:20px;
}
.simple-little-table tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
.simple-little-table tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
.simple-little-table tr{
    text-align: center;
    padding-left:20px;
}
.simple-little-table tr td:first-child{
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
.simple-little-table tr td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.simple-little-table tr:nth-child(even) td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.simple-little-table tr:last-child td{
    border-bottom:0;
}
.simple-little-table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
.simple-little-table tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
.simple-little-table tr:hover td{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

.simple-little-table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
.simple-little-table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
.simple-little-table a:active,
.simple-little-table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}

.modal-size2 {
    width: 590px;
}
.modal_status_height {
    /*height: 600px;*/
    height: auto;
    max-height: 600px;
    overflow-y: auto;
}
.modal-body-scroll{
    height: 600px;
    overflow-y: auto;
}
.modal-body-scroll2{
    height: auto;
    max-height: 600px;
    overflow: auto;
}

.multiselect-caret .caret {
    float : right !important;
    margin-top: 8px;
    margin-right: 5px;
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.multiselect-label {
    color: #343434 !important;
}

.modal-body-scroll3{
    height: auto;
    overflow-y: auto;
}
.coachRevievTable{
    margin-left: 5%;
}
.choose_employee{
    color: #0c7acc;
    text-decoration: underline;
    margin-top: -2px;
    margin-left: -6px;
    cursor: pointer !important;
}

.new-project{
    color: #0c7acc;
    text-decoration: underline;
}
.employeeInfo{
    color: #0c7acc;
}

.new-project-black{
    color: #000000;
    text-decoration: underline;
}

.form-inline .ui-select-container {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}


.underline{
    text-decoration: underline;
}
.noUnderline{
    text-decoration: none !important;
}
.new-programm{
    color: #0c7acc;
}
/*.btn-success{*/
/*background: #0066AA;*/
/*}*/
/*.btn-success:hover{*/
/*background: #0066EE;*/
/*}*/
.company{
    text-transform: uppercase;
    width: 95%;
}
.project{
    width: 14%;
}
.employee{
    text-transform: uppercase;
    width: 18%;
}
.role{
    width: 95%;
}
.all_lists{
    color: grey;
}
.proj{
    height: 10%;

}
.table-in-table{
    padding: 0px 10px 0px 0px;
}
.ok{
    width: 40%;
}
.my-special-form div {
    float: left;
}
/*th{*/
/*color: grey;*/
/*font-weight: normal;*/
/*}*/
/*td{*/
/*color: #0066AA;*/
/*}*/
.word-wrap {
    word-wrap: break-word;
}
.table-nonfluid {
    width: 100% !important;
}
.table-thead-sort, .table-thead-sort:link, .table-thead-sort:visited, .table-thead-sort:hover, .table-thead-sort:active{
    text-decoration: none;
    color: #343434;

    font-weight: 400;
    font-size: larger;

}
.excel-export-button {
    margin-top: 25px;
    text-align: right;
}
.clear-filter-button {
    margin-left: 5px;
    text-decoration: none;
    color: #343434;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
.filter-width{
    width: 170px !important;
}
.filter-width-report5{
    width: 200px !important;
}
.filter-width-small {
    width: 100px !important;
}

.filter-width-extra-small {
    width: 70px !important;
}

.program-employees-filter {
    width: 300px !important;
}
.program-employees-filter-choices {
    position: fixed;
    bottom: auto;
    top: auto;
    width: 50% !important;
}
.scrollTable {
    height: 300px;
    overflow: auto;
}
.scrollTable2 {
    height: 200px;
    overflow: auto;
}
.scrollTable3 {
    max-height: 300px;
    overflow: auto;
}
.disp-block {
    display: block;
}
.scrollTable4 {
    max-height: 200px;
    overflow-y: auto;
}

.table-wrapper {
    /*border-top: grey 1px solid;*/
    display: block;
    max-height: 200px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.newInterview li:first-child {
    border-top: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.table-fixed thead {
    width: 98%;
}
.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}


.buttonWidth110{
    width: 110px;
}
.clear {
    background:none;
    border:none;
    cursor:pointer;
    padding:5px 10px;
    position:absolute;
    right:20px;
    top:1px;
}
.app-modal-window .modal-dialog {
    width: 85%;
    height: 90%;
}
.app-modal-window-programm .modal-dialog {
    width: 75%;
    height: 90%;
}
.app-modal-window-hr-request .modal-dialog {
    width: 50%;
}
.app-modal-window2 .modal-dialog {
    width: 30%;
}
.app-modal-window3 .modal-dialog {
    width: 50%;
}
.app-modal-window4 .modal-dialog {
    width: 20%;
}
.app-modal-window5 .modal-dialog {
    width: 45%;
}
.app-modal-window-projectSettings .modal-dialog{
    width: 20%;
}

.app-modal-window-projectSettingsRoles .modal-dialog{
    width: 50%;
}

.coach_review .modal-dialog {
    width: 55%;
}

.competences_result .modal-dialog {
    width: 20%;
}

.mentors_report_modal_window .modal-dialog {
    width: 60%;
}
/*.report-modal-window .modal-dialog {*/
/*width: 45%;*/
/*}*/
.avatar-miniature .modal-dialog {
    width: 550px;
}

.avatar-modal-window .modal-dialog {
    width: 40%;
}
.fileInfo-modal-window .modal-dialog {
    width: 60%;
}
.taskReports-modal-window .modal-dialog {
    width: 75%;
}
.project-remove-modal-window .modal-dialog {
    width: 20%;
}
.non-border-top{
    border-top: none!important;
    text-align: center!important;
    vertical-align: top!important;
    padding-bottom: 20px!important;
}
.non-border-bottom{
    border-bottom: none!important;
}
.project-size{
    word-wrap: break-word;
    width: 131px;
    text-align: center;
    vertical-align: middle!important;
}
.number-size{
    width: 40px;
    text-align: center;
}
.employee-size{
    width: 180px;
    text-align: left;
}

.leftForm{
    text-align: left;
}
#reportTable{
    text-align: center;
    table-layout: fixed;
}
.fixed-time{
    width: 80px;
}
.fixed-textarea{
    width: 240px;
}
.fixed-date{
    width: 50px;
}
.fixed-icon{
    width: 100px;
}
.comment-cell-size {
    font-size: 9pt;
    max-width: 200px;
}
.comment-cell-pclip {
    width: 200px !important;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.client-cell-size {
    min-width: 100px;
}
.project-cell-size {
    min-width: 150px;
}
.work-type-cell-size {
    min-width: 150px;
}
.auto-scroll-x{
    overflow-x: auto;
}
.text_hyphens{
    /*white-space:normal*/
    /*word-wrap:break-word;*/
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}
.numberOfPagesAtPage{
    margin: 1px auto;
    margin-top: -18px;
}

.numberOfPagesRegisterOfLetters{
    margin-top: -18px;
    text-align: center;
}

.workTypeElementMiddleWidth {
    min-width: 500px;
    width: auto;
    max-width: 800px;
}
.workTypeElementMaxWidth {
    min-width: 800px;
    width: auto;
    max-width: 1000px;
}

.workTypeElementReportsOfFillingMiddleWidth {
    min-width: 300px;
    width: auto;
    max-width: 500px;
}
.workTypeElementtReportsOfFillingMaxWidth {
    min-width: 500px;
    width: auto;
    max-width: 600px;
}
.date-input {
    max-width: 200px !important;
}

#fileInfoModalBody {
    max-height: 600px;
    height: auto;
    overflow-y: auto;
}

#fpProjectProgressModalBodyTaskInfo {
    max-height: 700px;
    height: auto;
    overflow-y: auto;
}

#taskReportsModalBody {
    max-height: 600px;
    height: auto;
    overflow-y: auto;
}
#matrixReportsModalBody {
    max-height: 600px;
    height: auto;
    overflow-y: auto;
}

#modalBodyOfUserReportContent {
    max-height: 700px;
    height: auto;
    overflow-y: auto;
}

#modalBody700 {
    max-height: 700px;
    height: auto;
    overflow-y: auto;
}

.modal-body-full-height {
    max-height: 750px;
    height: auto;
    overflow-y: auto;
}

#modalBodyOfUserJiraRequestContent {
    max-height: 750px;
    height: auto;
    overflow-y: auto;
}

.divider-line {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.divider-line span {
    width: 100%;
    height: 1px;
    background-color: #CCC;
}



.inline {
    white-space: nowrap;
}
.input-height{
    height: 20px;
}
.vendor_name_cell{
    width: 550px !important;
}
.removeAllEmployees{
    margin-left: 5px;
    cursor: pointer;
    text-align: right !important;
}
.marginLeft5{
    margin-left: 5px;
}
.marginLeft10{
    margin-left: 10px;
}
.row-height-button {
    height: 45px;
}
.marginTop5{
    margin-top: 5px;
}
.marginTop7{
    margin-top: 7px;
}
.marginTop3{
    margin-top: 3px;
}
.marginTop1{
    margin-top: 1px;
}
.marginTop2{
    margin-top: 2px;
}
.marginTop5{
    margin-top: 5px;
}
.marginTop10{
    margin-top: 10px;
}
.marginTop20{
    margin-top: 20px;
}
.marginTop30{
    margin-top: 30px;
}
.marginBottom2{
    margin-bottom: 2px;
}
.marginBottom5{
    margin-bottom: 5px;
}
.backMarginTop0{
    margin-top: 0px;
}
.backMarginTop2{
    margin-top: -2px;
}
.backMarginTop4{
    margin-top: -4px;
}
.backMarginTop5{
    margin-top: -5px;
}
.internetBlockingTable{
    margin-top: -7px;
}
.backMarginTop8{
    margin-top: -8px;
}
.backMarginTop10{
    margin-top: -10px;
}
.backMarginTop15{
    margin-top: -15px;
}
.marginBottom20{
    margin-top: -20px;
}
.marginBottom30{
    margin-top: -30px;
}
.maxBlockedEmployeesCountWidth {
    width: 70px !important;
}
.new-modal-row{
    margin-top: 5px;
}
.new-modal-row-ui{
    margin-top: 4px;
}
#planLoadingsEmployeesByProjects{
    margin-left: 100px;
    text-align: center;
    width: 1140px;
    vertical-align: middle!important;
}
#planLoadingsEmployeesByDates{
    width: 1278px;
}
#editor {
    overflow:scroll;
    max-height:300px
}
#scrollup {
    position: fixed; /* фиксированная позиция */
    opacity: 0.4; /* прозрачность */
    background: #aaa;
    padding: 10px 10px 10px;
    border-radius: 5px; /* скругление углов */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    left: 10px; /* отступ слева */
    top: 70px;
    cursor: pointer;
}
/*#scrollup {*/
/*position: fixed; !* фиксированная позиция *!*/
/*opacity: 0.4; !* прозрачность *!*/
/*background: #aaa;*/
/*padding: 850px 10px 10px;*/
/*!*border-radius: 5px; !* скругление углов *!*!*/
/*!*-webkit-border-radius: 5px;*!*/
/*!*-moz-border-radius: 5px;*!*/
/*left: 10px; !* отступ слева *!*/
/*top: 10px;*/
/*cursor: pointer;*/
/*}*/
#rotateText {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    height: 200px; /* размеры задаем сразу с учетом, что будет повернут на 90 градусов */
    width: 100px;
    border: 2px solid red;
    margin: -50px 0 -50px 50px; /* подтягиваем отступы, образовавшиеся во время вращения */
}

a{
    text-decoration: none;
}
a:link, a:hover, a:active, a:visited{
    text-decoration: none;
}
.h3-link{
    font-size:large;
    color: #343434;
}
h9{
    display: block;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    font-size: 20px;
    color: #343434;
}
h10{
    display: block;
    font-size: 18px;
    color: #7d7d7d;
}
.h3-link-active {
    font-size: x-large;
    text-decoration: none;
    color: #343434;
}

.h6Header {
    color: #696969;
    font-size: 12pt;
    margin-left: 10px;
    font-weight: bold;
}

.h6Header2 {
    color: #696969;
    font-size: 12pt;
    font-weight: bold;
}
.h6Header3 {
    color: #696969;
    font-size: 14pt;
}

.h3-link:link,  .h3-link:visited, .h3-link:hover, .h3-link:active{
    text-decoration: none;
    color: #0066AA;
}
.select-client{
    width: 150px !important;
}
.time_elem_width{
    width: 150px !important;
}
.select-project{
    width: 220px !important;
}
.select-project2{
    width: 100% !important;
}
.table-scroll{
    overflow-x: scroll;
    width: 600px;
}
.auto-scroll{
    overflow-x: scroll;
}
.sticky-content{
    background: white;
}

.mr-label{
    width: 180px;
}

.mr-filter{
    width: 420px;
}

.gr-label{
    width: 100px;
}

.gr-label-lg{
    width: 150px;
}

.gr-label-lg-2{
    width: 160px;
}

.gr-filter{
    width: 350px;
}

.gr-filter-lg{
    width: 400px;
}

.gr-filter-lg-2{
    width: 350px;
}

.gr-filter-lg-3{
    width: 550px;
}

.gr-filter-btn {
    width: 80px;
}

.gr-label-jtr-sm{
    width: 80px;
}

.gr-label-jtr-lg{
    width: 160px;
}

.gr-filter-jtr-sm{
    width: 310px;
}

.gr-filter-jtr-lg{
    width: 390px;
}

.gr-label-jtr-tm-lg {
    width: 110px;
}

.gr-label-jtr-tm-lgg {
    width: 120px;
}

.gr-label-jtr-tm-sm {
    width: 25px;
}

.gr-filter-jtr-tm {
    width: 500px;
}

.mr-filters {
    padding-left: 10px;
    padding-top: 10px;
}

.mr-cb{
    margin-top: 8px;
}

.sticky-content.fixed{
    position: fixed;
    top: 50px;
}
.theadfix {
    position: fixed;
    width: auto;
    height: auto;
    z-index: 3;
}
.right-time{
    /*float: right;*/
    cursor: pointer;
    color: slategray;
    background: white;
}
.title-with-time{
    color: slategray;
    /*font-weight: bolder;*/
    background: white;
    font-size: larger;
    font-size: larger;
    border: none;
    outline: none;
    text-align: left;
}
.position123{
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}
.table-no-visible{
    visibility: collapse;
}
.button_pos{
    position: relative;
    left: 70%;
}
.button_pos2{
    position: relative;
    left: 92.5%;
}
.next-button{
    position: fixed;
    display: block;
    margin-top: 150px;
    margin-left:108px;
    z-index: 3;
}
.prev-button{
    position: fixed;
    left: auto;
    margin-top: 150px;
    margin-left:1210px;
    display: block;
    z-index: 3;
}
.next-button-user{
    position: absolute;
    display: block;
    margin-top: 60px;
    margin-left: 20px;
    /*margin-left: 1%;*/
}

.next-button-project{
    position: fixed;
    display: block;
    margin-top: 155px;
    margin-left:350px;
    z-index: 3;
}
.prev-button-project{
    position: fixed;
    left: auto;
    margin-top: 155px;
    margin-left:1140px;
    display: block;
    z-index: 3;
}
.next-button-client{
    position: fixed;
    display: block;
    margin-top: 165px;
    margin-left:430px;
    z-index: 3;
}
.prev-button-client{
    position: fixed;
    left: auto;
    margin-top: 165px;
    margin-left:1080px;
    display: block;
    z-index: 3;
}
.today{
    color: #33acfe!important;
}
#planLoadingsEmployees{
    position: relative;
}

#blink {
    /*-webkit-animation: blink 1s linear infinite;*/
    animation: blink 1s linear infinite;
}
.blink {
    /*-webkit-animation: blink 1s linear infinite;*/
    animation: blink 1s linear infinite;
}

.jira-time-report-loading-text {
    margin-left: 30px;
    vertical-align: middle;
}

.background-blink {
    animation: background-blink 1s linear infinite;
}

@-webkit-keyframes background-blink {
    100% { background-color: rgba(34, 34, 34, 0); }
}
@keyframes background-blink {
    100% { background-color: rgba(34, 34, 34, 0); }
}


@-webkit-keyframes blink {
    100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
    100% { color: rgba(34, 34, 34, 0); }
}

.next-prev{
    width: 50px;
    background-color: lightgray;
    font-size:40px;
    color: #112233;
    opacity: 0.2;
}
.next-prev-small{
    font-size:20px;
    color: #112233;
    opacity: 0.2;
}
.next-prev:link, .next-prev:visited, .next-prev:hover, .next-prev:active{
    opacity: 0.7;
}
.sign{
    color: black;
    margin-left: 5px;
    margin-bottom: -2px;
    overflow: hidden;
}
.sign2{
    color: black;
    margin-left: 10px;
    margin-bottom: 2px;
    overflow: hidden;
}
.today-button{
    font-size:20px;
    color: #112233;
    opacity: 0.2;
}
.today-button:link, .today-button:visited, .today-button:hover, .today-button:active{
    text-decoration: none;
    opacity: 0.7;
}
/*.td-th-fixed{*/
/*width: 200px!important;*/
/*}*/
.thead-fixed
{
    position: fixed;
    top: 150px;
    width: auto;
}
.table-special{
    margin: 0;
    padding: 10px;
}
.border-none {
    border: none !important;
    border-width: 0;
}
.userblank:link, .userblank:visited, .userblank:hover, .userblank:active{
    text-decoration: none;
    color: #0066AA;
}
.avatar:hover,.avatar:visited{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.pointer{
    cursor: pointer;
}
.href-block{
    display: inline-block;
}

.display-inline-block{
    display: inline-block;
}

.mentoring-button {
    width: 270px;
}

.user-notification-button {
    width: 200px !important;
    animation: blink 1s linear infinite;
}

.mentoring-cell {
    width: 270px;
}
/*CSS для timeline*/
#timeline {
    list-style: none;
    position: relative;
}
#timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #4997cd;
    left: 50%;
    margin-left: -1.5px;
}
#timeline .clearFix {
    clear: both;
    height: 0;
}
#timeline .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -25px;
    background-color: #4997cd;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}
.badge-time {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 75px;
    left: 50.6%;
    margin-left: -25px;
    background-color: #fff;
    z-index: 99;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
#timeline .timeline-badge-time {
    /*color: #fff;*/
    color: #4997cd;
    width: 27px;
    height: 27px;
    font-size: 1.3em;
    text-align: center;
    position: absolute;
    top: 80px;
    left: 51%;
    margin-left: -25px;
    /*background-color: #fff;*/
    /*background-color: #4997cd;*/
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
    font-size: 1.4em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
    font-size: .7em;
    position: relative;
    top: -10px;
}
#timeline .timeline-badge.timeline-filter-movement {
    background-color:white/*#eee*/;
    font-size: 1.7em;
    height: 35px;
    margin-left: -18px;
    width: 35px;
    top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
    color: #4997cd;
    font-size: 1.3em;
    top: -1px;
}
#timeline .timeline-badge.timeline-future-movement {
    background-color: white/*#eee*/;
    height: 35px;
    width: 35px;
    font-size: 1.7em;
    top: -16px;
    margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
    color: #4997cd;
    font-size: .9em;
    top: 2px;
    left: 1px;
}
#timeline .timeline-movement {
    /*border-bottom: dashed 1px #4997cd;*/
    position: relative;
}
.timeLineWithLine{
    border-bottom: dashed 1px #4997cd;
}
#timeline .timeline-movement.timeline-movement-top {
    height: 60px;
}
#timeline .timeline-movement .timeline-item {
    padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #666;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.right .timeline-panel-ul {
    text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.right .timeline-panel-ul li {
    color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.right .timeline-panel-ul li span.importo {
    color: #0088cc;
    /*color: #468c1f;*/
    font-size: 1.3em;
}
#timeline .timeline-movement .timeline-item .timeline-panel.left .timeline-panel-ul {
    text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.left .timeline-panel-ul span.importo {
    color: #0088cc;
    /*color: #468c1f;*/
    font-size: 1.3em;
}

.new-time-el-border{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}
.table-date
{
    table-layout: fixed;
    width: auto;
}
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}
.href_template{
    margin-top: 14px;
}
.theme-showcase .navbar .container {
    width: auto;
}
.user-font, .user-font:visited{
    font-size: larger;
    color: #989898;
    text-decoration: none;
}

.login-form {
    width: 400px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.input-group-addon-text{
    height: auto;
    padding: 3px;
    font-size: 13px;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: normal;
    text-align: center;
    width: auto;
    color: #989898;
}

.date-time-picker {
    width: 150px;
}

.time-picker {
    width: 70px !important;
}

.user-report-item {
    margin-top: 5px;
}

.thumbnail-margin {
    margin-bottom: 0 !important;
}

.update {
    background-color: grey;
    color: white;
    height: 17px;
    border: none;
    /*border-radius: .25em;*/
    border-radius: 3px;
    text-align: center;
    padding-top: 1px;
    vertical-align: top;
    font-weight: bold;
    /*font-size: 75%;*/
    font-size: 11px;
    margin-top: 2px;
    /*line-height: 1;
    white-space: nowrap;*/
    /*padding: .2em .6em .3em;*/
}

.jira-issue-status-label {
    width: 95px !important;
    display: inline-block !important;
}

.update:visited, .update:hover {
    background-color: #4c4c4c;
}

.input-group-addon-border-radius{
    border-bottom-left-radius: 5px;
    /*border-top-left-radius: 5px;*/
}

.input-group-btn-ext{
    border-bottom-left-radius: 5px;
}
.input-group-btn-ext-2{
    border-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.input-group-input{
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
}
.user-font:hover{
    font-size: larger;
    color: whitesmoke;
    text-decoration: none;
}
.input-opas{
    opacity: 0.5;
}
.help-icon{
    color: slategray!important;
}
.input-opas:hover, .input-opas:focus{
    opacity: 1;
}
.report-label{

    font-size: larger;
    color: #989898;
}
.report-label-active{
    font-weight: 600;
    font-size: larger;
    /*color: #0066BB;*/
    color: #428bca;
}

.glyphicon-height {
    height: 22px !important;
}

.table-container::-webkit-scrollbar
{
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}

.table-container::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}

.usersBandOverWork {
    color: black;
}

.usersBandOverWork div {
    margin-top: -20px!important;
}

.usersBandOverWork span {
    font-size: 12px;
    color: black;
    margin-left: 15px;
    /*margin-right: 1px;*/
}

.toggle-title {
    background-color: #fff;
    font-size: inherit;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 8px;
    display: inline-block;
    margin-top: 0;
    cursor: pointer;
}


.ui-draggable {
    z-index: 1;
}

.nice-cite {
    margin: 1.5em 0;
    padding: 0.5em 25px;
    line-height: 1.5;
    background: #f5f5f5;
    border-left: 5px solid #E7471E;
}

.p-class {
    margin: 10px 0;
    padding: 5px 10px;
    color: white;
    border: 1px solid #ccc;
    border-left-width: 10px;
}

.learned-ok {
    text-decoration: line-through;
    border-color: #27ae60;
    background-color: #2ecc71;
}

.learning-in-progress {
    border-color: #f39c12;
    background-color: #f1c40f;
}

.not-learned {
    border-color: #c0392b;
    background-color: #e74c3c;
}


.userRightsEmployeeInfo {
    margin: 20px;
}

.epx1 {
    border-radius: 5px 5px 5px 5px;
    border: 1px solid lightgray;
    height: 112px !important;
    overflow-y: hidden !important;
}

.roundedTableBorder {
    border-radius: 5px 5px 5px 5px;
    border: 1px solid lightgray;
}

.borderNoneImp {
    border-radius: 5px 5px 5px 5px;
    border: 1px solid lightgray;
}

.changeUser {
    margin-left: 20px;
    /*padding: 10px;*/
}

.userBandCellRight {
    border-left: none !important;
    border-right: 1px lightgray solid;
    border-bottom: none !important;
}

.userBandCellLeft {
    border-right: none !important;
    border-left: 1px lightgray solid;
    border-bottom: none !important;
}

.prev-button-user{
    margin-top: 25px;
}

.myMessages {
    margin: 10px;
}

.ui-select-left-icon {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    -moz-background-size: 16px;
    background-size: 16px;
    /*display: none;*/
    height: 16px;
    left: 6px;
    margin-top: -2px;
    /*position: absolute;*/
    /*top: 50%;*/
    width: 16px;
}

.jira-issue-icon {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    -moz-background-size: 16px;
    background-size: 16px;
    height: 16px;
    left: 6px;
    width: 16px;
}

.jira-icon {
    position: relative;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-button{
    margin-top: 8px;
}

.tdProjectTitleButton {
    margin-top: -2px;
    margin-left: -5px;
}

.img-upload-size {
    height: auto;
    max-height: 50px;
}

.newsPadding {
    padding-right: 10px;
    padding-left: 10px;
}

.post_header {
    position: relative;
    min-height: 50px;
    display: block;
}

.post_image {
    display: block;
    float: left;
    position: relative;
}

.post_img {
    width: 50px;
    height: 50px;
    border-radius: 5%;
    vertical-align: top;
}

.chart {
    align-content: center;
    display: flex;
    justify-content: center;
    height: 400px;
}



.post_img_visited:hover,.post_img_visited:visited {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 5%;
    cursor: pointer;
}

.post_img_visited_miniature:hover,.post_img_visited_miniature:visited {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 50%;
    cursor: pointer;
}

.post_header_info {
    margin-left: 65px;
    padding-top: 8px;
}

.post_header_info_small {
    margin-left: 65px;
}

.post_author {
    line-height: 16px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin: 0;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #0077b3 ;
}

.int-label {
    font-size: 16px;
    display: inline-block;
}

.post_author span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post_date {
    position: relative;
    font-size: 12.5px;
    padding-top: 3px;
    color: #939393;
}

.wall_post_text {
    line-height: 1.462;
    padding-top: 3px;
    overflow: hidden;
    word-wrap: break-word;
}

.wall_title_text {
    font-weight: bold;
    font-size: 14px;
    color: #0077b3 ;
}

.time-control {
    width: 100px !important;
}

.time-control-icon {
    width: 140px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}


.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.list-group-item-border {
    border-width: 1px;
}

.user-band-p {
    max-width: 25px;
    /*white-space: nowrap; !* Запрещаем перенос строк *!*/
    /*width: 200px;*/
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.table-border {
    border: solid black 1px !important;
}

.table-border-bold {
    border: solid black 2px !important;
}

.table-border-top {
    border-top: solid black 1px !important;
}

.table-border-bottom {
    border-bottom: solid black 1px !important;
}

.table-border-right {
    border-right: solid black 1px !important;
}

.table-border-left-bold {
    border-left: solid black 2px !important;
}

.table-border-right-bold {
    border-right: solid black 2px !important;
}

.table-border-bottom-bold {
    border-bottom: solid black 2px !important;
}

.table-border-lightgrey {
    border-color: lightgrey !important;
}

.table-border-bottom-none {
    border-bottom: none !important;
}

.employee-ratings-table {
    width: 150px !important;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}



/*.modalTest .modal-dialog{*/
/*width: 40%;*/
/*background-color: yellow;*/
/*}*/

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
#checkbox {
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin: 0 2px 0 0;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
#checkbox + label {
    cursor: pointer;
}

/* Прячем оригинальный чекбокс. */
#checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
#checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
#checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
#checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 1px;
    width:20px;
    height: 20px;
    border-radius: 50%;
    background: #428bca;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: all .2s;
}
/* Меняем фон чекбокса, когда он включен. */
#checkbox:checked + label:after {
    opacity: 1;
}

.report-panel {
    max-height: 90vh !important;
}

.previewimg{
    width: 50px;
    border-radius: 5%;
    vertical-align: top;
}

.preview_lecture_file{
    display: block;
    margin: 0 0 10px 0;
}

.middle-td-childs > td, .middle-td-childs > tr > td {
    vertical-align: middle !important;
}

.margin_none{
    margin: 0 !important;
}

.table_input {
    border: none !important;
    padding: 0px 15px 10px 15px !important;
}

.answers-item{
    display: flex;
    justify-content: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    margin: 5px 0 0 0;
}

.answer-item > td{
    margin: 0 20px 0 20px;
}

.answer-item > td:first-child {
    margin: 0 20px 0 0px;
}

.answer-item > td:last-child {
    margin: 0 0px 0 20px;
}

.padding_0{
    padding: 0 !important;
}

.padding_bottom_5{
    padding: 0 0 5px 0 !important;
}

.padding_group_project{
    padding: 10px 15px 20px 15px !important;
}

.margin_0{
    margin: 0 !important;
}

.tools_width_52{
    min-width: 52px;
}

.last_border_bottom_ddd_1 > tr:last-child{
    border-bottom: 1px solid #ddd;
}

.border_top_0  > td{
    border-top: 0 !important;
}

.border_top_bottom_ddd_1{
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.dropdown_width_min200 {
    width: max-content !important;
    min-width: 200px;
}

.non_clickable {
    pointer-events: none !important;
}

.dropdown_height_max300 .selectize-dropdown-content {
    max-height: 300px !important;
}

.non_wrap {
    width: 85% !important;
    white-space: nowrap;
    overflow: hidden;
}

.input_h34 .selectize-input {
    height: 34px;
}
