
<ul class="nav navbar-nav">

    <li id="lkPageLi" ng-class="{'my-active':selectedTab == 'lk'}" ng-click="setSelectedTabInTab('lk')" ng-mouseenter="selectedTab = 'lk'">
        <a href="#/lk">Личный кабинет</a>
    </li>

    <li id="applyPageLi" ng-class="{'my-active':selectedTab == 'apply'}" ng-click="setSelectedTabInTab('apply')" ng-mouseenter="selectedTab = 'apply'">
        <a href="#/apply"> Подать заявление</a>
    </li>

    <li id="directionPageLi" ng-class="{'my-active':selectedTab == 'direction'}" ng-click="setSelectedTabInTab('direction')" ng-mouseenter="selectedTab = 'direction'">
        <a href="#/direction">Направления</a>
    </li>

    <li id="prkomPageLi" ng-class="{'my-active':selectedTab == 'priemnaya-komissiya'}" ng-click="setSelectedTabInTab('priemnaya-komissiya')" ng-mouseenter="selectedTab = 'priemnaya-komissiya'">
        <a href="#/priemnaya-komissiya">Применая комиссия</a>
    </li>

    <li id="supportPageLi" ng-class="{'my-active':selectedTab == 'support'}" ng-click="setSelectedTabInTab('support')" ng-mouseenter="selectedTab = 'support'">
        <a href="#/support">Поддержка</a>
    </li>

</ul>
